svg{
     width:250px;
     height: 250px;
     margin:10px;
                
     }
rect{
         width: 250px;
         height: 250px;
         fill:white;
         stroke:black;
         stroke-width:5; 
         ry:20px;
         rx:20px;
                
     }
rect:hover{
                
            fill:blue;
          }
#even{
         border: 2px solid;
         color: white;
         background-color: blue;
         padding: 10px;
         margin-top: 5px;
    }
#odd{
         border: 2px solid ;
         color: white;
         background-color:red;
         padding: 10px;
   }
            